<% layout('layouts/boilerplate') %>
<h1>Ny golfrunda</h1>
<form class="row g-3" method="POST" action="/golfdagbok">
  <div class="col-md-4">
    <label for="bana" class="form-label">Golfklubb</label>
    <select
      class="form-select"
      id="bana"
      name="golfrunda[bana]"
      aria-label="Default select example"
    >
      <option selected disabled hidden>Välj golfklubb</option>
      <% for(let golfbana of golfbanor) { %>
      <option value="<%= golfbana.name %>"><%= golfbana.name %></option>
      <% } %>
    </select>
  </div>
  <div class="col-md-2">
    <label class="form-label" for="datum">Datum</label>
    <input class="form-control" type="date" id="datum" name="golfrunda[datum]" required />
  </div>
  <div class="col-md-2">
    <label class="form-label" for="antalHal">Antal spelade hål:</label>
    <input class="form-control" type="text" id="antalHal" name="golfrunda[antalHal]" required />
  </div>
  <div class="col-md-2">
    <label class="form-label" for="banansPar">Banans par:</label>
    <input class="form-control" type="text" id="banansPar" name="golfrunda[banansPar]" />
  </div>
  <div class="col-md-2">
    <label for="tee" class="form-label">Tee</label>
    <select class="form-select" id="tee" name="golfrunda[tee]" aria-label="Default select example">
      <option selected disabled hidden>Välj ett alternativ</option>
      <option value="Röd">Röd</option>
      <option value="Gul">Gul</option>
    </select>
  </div>
  <div class="col-md-2">
    <label class="form-label" for="langd">Banans Längd:</label>
    <input
      class="form-control"
      type="text"
      id="langd"
      name="golfrunda[langd]"
      placeholder="(meter)"
    />
  </div>
  <div class="col-md-1">
    <label class="form-label" for="bruttoScore">Bruttoscore:</label>
    <input class="form-control" type="text" id="bruttoScore" name="golfrunda[bruttoScore]" />
  </div>
  <div class="col-md-1">
    <label class="form-label" for="nettoScore">Nettoscore:</label>
    <input class="form-control" type="text" id="nettoScore" name="golfrunda[nettoScore]" />
  </div>
  <div class="col-md-1">
    <label class="form-label" for="poang">Poäng:</label>
    <input class="form-control" type="text" id="poang" name="golfrunda[poang]" />
  </div>
  <div class="col-md-3">
    <label class="form-label" for="vader">Väder:</label>
    <input class="form-control" type="text" id="vader" name="golfrunda[vader]" />
  </div>
  <div class="col-md-2">
    <label class="form-label" for="temperatur">Temperatur:</label>
    <input
      class="form-control"
      type="text"
      id="temperatur"
      name="golfrunda[temperatur]"
      placeholder="(°C)"
    />
  </div>
  <div class="col-md-2">
    <label class="form-label" for="vindstyrka">Vindstyrka:</label>
    <input
      class="form-control"
      type="text"
      id="vindstyrka"
      name="golfrunda[vindstyrka]"
      placeholder="(m/s)"
    />
  </div>
  <div class="col-md-12">
    <label class="form-label" for="noteringar">Egna noteringar och kommentarer:</label>
    <input class="form-control" type="text" id="noteringar" name="golfrunda[noteringar]" required />
  </div>
  <div class="col-md-2">
    <label for="banansSkick" class="form-label">Banans Skick</label>
    <select
      class="form-select"
      id="banansSkick"
      name="golfrunda[banansSkick]"
      aria-label="Default select example"
    >
      <option selected disabled hidden>Välj ett alternativ</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="sammanfattningBetyg" class="form-label">Betyg på rundan</label>
    <select
      class="form-select"
      id="sammanfattningBetyg"
      name="golfrunda[sammanfattningBetyg]"
      aria-label="Default select example"
      required
    >
      <option selected disabled hidden>Välj ett alternativ</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <div class="col-md-8">
    <label class="form-label" for="medspelare">Medspelare:</label>
    <input class="form-control" type="text" id="medspelare" name="golfrunda[medspelare]" />
  </div>
  <div class="col-md-8">
    <label class="form-label" for="bilder">Bilder (url):</label>
    <input class="form-control" type="text" id="bilder" name="golfrunda[url]" />
  </div>
  <div class="col-md-4">
    <label class="form-label" for="spelare">Spelare:</label>
    <input class="form-control" type="text" id="spelare" name="golfrunda[spelare]" />
  </div>

  <button class="btn btn-outline-primary">Spara</button>
</form>
