<% layout('layouts/startBas') %>

<h1>Välkommen till Golfdagboken!</h1>
<p>Här kan du spara din golfdagbok digitalt och hitta information om Sveriges golfbanor</p>
<p>Logga in för att se din golfdagbok</p>

<form action="/loggain" method="POST" class="validated-form" novalidate>
  <div class="mb-3">
    <label class="form-label" for="username">Användarnamn</label>
    <input class="form-control" type="text" name="username" id="username" required />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Lösenord</label>
    <input class="form-control" type="password" name="password" id="password" required />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <button class="btn btn-success mb-3">Logga in</button>
</form>
<p>
  Vill du skapa din egen golfdagbok? <br />
  Registrera dig <a href="/registrera">HÄR</a>
</p>
