<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-md-4">
    <% for(let golfbana of golfbanor) { %>
    <div class="card mb-3">
      <div class="card-header"><%=golfbana.hal%></div>
      <p><%= golfbana.name %></p>
    </div>
    <% } %>
  </div>
  <div class="col-md-8">
    <h1>KARTA</h1>
    <div id="map" class="col" style="width: 100%; height: 85vh"></div>
  </div>
</div>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const golfbanor = {features: <%- JSON.stringify(golfbanor)%>};
</script>

<script src="/js/golfbanorKarta.js"></script>
